/* Desktop */

.header {
  background: #fff;
  color: #333;
  height: 3.7rem;
  padding: 0 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.7rem;
}

.logo {
  font-size: 1.4rem;
  text-transform: uppercase;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

@media (max-width: 650px) {
  .header {
    padding: 0;
    height: 4.5rem;
  }

  .header nav {
    justify-content: space-between;
    height: 4.5rem;
  }

  .logo {
    font-size: 1rem;
    height: 4.5rem;
    padding-left: 1rem;
  }
}
