/* Desktop */

.header {
  background: #001021;
  color: black;
  height: 4.5rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.logo {
  font-size: 1.4rem;
  text-transform: uppercase;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.logo a {
  color: white;
}

@media (max-width: 650px) {
  .header {
    padding: 0;
  }

  .header nav {
    justify-content: space-between;
  }

  .logo {
    font-size: 1rem;
    padding-left: 1rem;
  }
}
