.contact {
  margin: 6rem 0;
}

.contact h1 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.formBox {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  width: 75%;
  display: flex;
  height: 40rem;
  margin: auto;
  border-radius: 20px;
}

.formBox form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  width: 50%;
  padding: 2rem;
}

.formBox form input[type="text"],
.formBox form input[type="email"],
.formBox form input[type="tel"],
.formBox form textarea {
  width: 100%;
  margin: 0.8rem 0;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.botfield {
  visibility: hidden;
}

.formBox form textarea {
  resize: none;
}

.infoSection {
  background-color: #001021;
  border-radius: 20px;
  color: #f8f8f8;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.infoSection h2 {
  text-transform: capitalize;
}

.infoSection a {
  color: #f8f8f8;
}

.infoSection ul:nth-child(4) {
  display: flex;
  font-size: 2rem;
}

.infoSection ul:nth-child(4) li {
  margin-right: 2rem;
}

.infoSection ul:nth-child(4) li a:hover {
  color: #9cb2ce;
  transition: all 0.3s ease;
}

.infoSection ul:nth-child(2) li {
  font-size: 1.3rem;
  margin: 1.6rem 0;
}

.icon {
  margin-right: 1.5rem;
}

@media (max-width: 1100px) {
  .contact {
    height: 75vh;
  }

  .formBox {
    width: 90%;
    margin: auto;
    border: 1px solid green;
  }
}

@media (max-width: 650px) {
  .formBox {
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    height: auto;
    margin: 0;
  }

  .contact {
    height: auto;
    margin: 6rem 0 0 0;
  }

  .contact h1 {
    margin: 0;
  }

  .formBox form {
    width: 100%;
    padding: 0 2rem 2rem;
  }

  .infoSection {
    width: 100%;
    border-radius: 0;
  }

  .infoSection ul:nth-child(2) li {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  .infoSection h2 {
    margin: 1.5rem 0;
  }
}
