.container {
  margin: 4.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 880px;
  width: 100%;
}

.info h1 {
  text-transform: capitalize;
  margin: 2rem 0;
}

.image {
  width: 100%;
}

.info h2 {
  font-style: italic;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.info p {
  font-size: 1.2rem;
  line-height: 2;
  margin: 2rem 0;
}

.info ul {
  list-style-type: upper-roman;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0 2rem;
}

.info ul li {
  margin: 1rem 0;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pricing p {
  font-size: 2.5rem !important;
}

.pricing a {
  margin: 0 2rem;
}

@media (max-width: 1280px) {
  .container {
    padding: 1rem 10rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 5rem;
  }

  .info h1 {
    margin-bottom: 1rem;
  }

  .info h2 {
    margin: 0;
  }

  .info p {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;
    padding: 1rem 2rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 1rem;
  }

  .info h1 {
    margin: 1rem 0;
  }

  .info h2 {
    font-size: 1rem;
    margin: 0;
  }

  .info p {
    font-size: 1rem;
    line-height: 2;
    margin: 1rem 0;
  }

  .info ul {
    font-size: 1rem;
    list-style-position: inside;
    padding: 0;
  }

  .info ul li {
    margin: 0;
  }

  .pricing p {
    font-size: 2.5rem !important;
    margin-right: 2rem;
  }

  .pricing a {
    margin: 0;
  }
}
