.container {
  margin-top: 4.5rem;
  margin-top: 4.5rem;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  font-style: italic;
  text-transform: capitalize;
}

.container p {
  text-transform: capitalize;
}
