.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 150px;
  background: #001021;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #9cb2ce;
}
