.banner {
  position: relative;
  height: 600px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #001021 url("/images/debra-winans-invite.png") no-repeat top right;
  z-index: 20;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  color: #f8f8f8;
  margin-left: 7rem;
  width: 25%;
  text-align: center;
}

.content button {
  margin: auto;
}

.content h2 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.content p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media (max-width: 1800px) {
  .banner {
    background: #001021 url("/images/debra-winans-invite-sm.png") no-repeat
      center center/cover;
  }
}

@media (max-width: 1100px) {
  .content {
    width: 40%;
    margin-left: 4rem;
  }
}

@media (max-width: 650px) {
  .banner {
    background: #001021 url("/images/debra-winans-invite-xs.png") no-repeat
      center center/cover;
    justify-content: center;
    height: 500px;
  }

  .content {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 2rem;
  }

  .content button {
    margin: auto;
  }
}
