.showcase {
  width: 100%;
}

.showcase img {
  height: auto;
  width: 100%;
  display: block;
}

@media (max-width: 1024px) {
  .showcase img {
    margin-top: 2rem;
  }
}

@media (max-width: 414px) {
  .showcase {
    background: #000 url("/images/showcase-mobile-small.png") no-repeat center
      center/cover;
    height: 93vh;
    width: auto;
    margin-top: 1rem;
  }

  .showcase img {
    display: none;
  }
}
